*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    display: block;
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.clearfix{
    content:"";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}