
html,
body {
    height: 100%;
}
body{
    padding: 45px 0 50px;
}
.pyg_header {
    width: 100%;
    height: 45px;
    // background-color: plum; 
    position: fixed;
    left: 0;
    top: 0;
    .mui-input-row{
        padding: 5px 10px;
    }
}
.pyg_view{
    height: 100%;
    overflow: scroll;
    .index_nav{
        display: flex; 
        a{
            flex: 1;
            text-align: center;
            padding-top:5px;
            img{
                width: 80%;
            }
        }
    }
    .index_goodlist{
        width: 100%;
        padding: 10px;
        .goods_group{
            .gg_title{
                background-color: #fff;
                img{
                    width: 100%;
                }
            }
            .gg_content{
                width: 100%;
                padding-top: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    width: 49%;
                    background-color: #fff;
                    padding: 0 5px;
                    .item_des{
                        img{
                            width: 100%;
                        }
                        .goods_name{
                            width: 100%;
                            height: 40px;
                            overflow: hidden;
                        }
                        .goods_price {
                            color: red;
                            font-size: 18px;
                        }
                    }
                    .item_like{
                        width: 100%;
                        height: 35px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        a{
                            width: 50%;
                            height: 30px;
                            border: 1px solid blue;
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}
.pyg_footer{
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    a{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        span{
            color: black;
            display: block;
            text-align: center;
        }
        .fa{
            font-size: 22px;
        }
        .link_name{
            font-size: 12px;
        }

    }
}
